body
{
    font-family: 'Times New Roman', Times, serif;
    background-color: 	#f5f5f5;
}

.logo
{
    float: left;
    margin-left: 20px;
}

#menu
{
    position: relative;
}
#menu .menu-1
{
 
   text-align: center;
}
#menu .menu-1 ul
{
    list-style-type: none;
    margin-left: 300px;
    
}
#menu .menu-1 ul li
{
    display: inline-table;
    height: 50px;
    line-height: 50px;
    position: relative;
}
#menu .menu-1 ul li a
{
    text-decoration: none;
    color: grey;
 
}
#menu .menu-1 ul li a:hover
{
    transition: 1s;
    color: black;
}
 .dong-chay
{
    width: 110px;
    font-size: 20px;
   
}
.trai-nghiem
{
    width: 115px;
    font-size: 20px;
}
.iot
{
    width: 52px;
    font-size: 20px;
}
.doanh-nghiep
{
    width: 130px;
    font-size: 20px;
}
.phong-cach-song
{
    width: 150px;
    font-size: 20px;
}
.khoa-hoc
{
    width: 100px;
    font-size: 20px;
}
.game
{
    width: 50px;
    font-size: 20px;
}
.xe
{
    width: 42px;
    font-size: 20px;
 
}
.search
{
    float: right;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-left: 1px solid grey;

}
.content
{
    position: relative;
}

.content-left
{
    position: relative;
    width: 420px;
}
.left-1
{
    float: left;
}
.bottom-left-1
{
    position: absolute;
    top: 235px;
    width: 420px;
    height: 167px;
    background-color: black;
}
.bottom-left-1 p
{
    color: white;
    text-align: justify;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
}
.bottom-left-1 a
{
    text-decoration: none;
}
.bottom-left-1 p:hover
{
    transition: 1s;
    color:springgreen
}
.content-center
{
    float: left;
    position: relative;
    padding-left: 1px;
}

.bottom-center 
{
    position: absolute;
    top: 235px;
    width: 420px;
    height: 167px;
    background-color: black;
}
.bottom-center p
{
    color: white;
    font-size: 22px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
.bottom-center a
{
    text-decoration: none;
}
.bottom-center p:hover
{
    transition: 1s;
    color:springgreen;
}

.top-right img
{
    position: absolute;
    top:82px;
    margin-left:1.5px;
}

.bottom-right
{
    float: right;
    position: absolute;
    top: 317px;
    background-color: black;
    margin-left: 842.5px;
    width: 420px;
    height: 167px;
}
.bottom-right p
{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
}
.bottom-right p:hover
{
    transition: 1s;
    color: springgreen;
}
.bottom-right a
{
    text-decoration: none;
}
.doanh-nghiep-content
{
float: left;
margin-top: 200px;
margin-left: 50px;
width: 500px;
height: 100px;
font-size:40px;
color: seagreen;
}
.doanh-nghiep-content>hr
{
    position: absolute;
    top:530px;
    left:300px;
}
.sam-sung
{
    float: left;
  
}
.sam-sung img
{
    position: absolute;
    left: 55px;
    top: 600px;
}

.ss-right
{
    background-color: white;
    position: absolute;
    left: 695px;
    top: 600px;
  
    height: 416px;
}
.ss-right h3
{
    color: black;
    font-size: 30px;
    padding-left: 30px;
    width: 400px;
    padding-right: 30px;
    text-align: justify;
}
.ss-right a
{
    text-decoration: none;
}
.ss-right h3:hover
{
    transition: 1s;
    color: springgreen;
}
.ss-right p
{
    position: absolute;
    top: 140px;
    font-size: 17px;
    color: gray;
    padding-left:30px;
    padding-right: 30px;
}
.reno4-top:hover
{ transition: 1s;
    margin-top: 10px;}
.reno4-top 
{
   
    position: absolute;
    top: 1080px;
    margin-left: 50px;
}
.reno4-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 1300px;
    left:58px;
    width:340px;
    height: 270px;
}
.reno4-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 19px;
    padding-right: 20px;
}
.reno4-bottom a
{
    text-decoration: none;
}
.reno4-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.reno4-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.reno4 p 
{
    color: gray;
}
.timo-top:hover
{ transition: 1s;
    margin-top: 10px;}
.timo-top 
{
   
    position: absolute;
    top: 1080px;
    left: 420px;
    margin-left: 20px;
}
.timo-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 1300px;
    left:440px;
    width: 340px;
    height: 270px;
}
.timo-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 19px;
    padding-right: 20px;
}
.timo-bottom a
{
    text-decoration: none;
}
.timo-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.timo-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.timo p 
{
    color: gray;
}

.vinasun-top:hover
{ transition: 1s;
    margin-top: 10px;}
.vinasun-top 
{
   
    position: absolute;
    top: 1080px;
    left: 800px;
    margin-left: 20px;
}
.vinasun-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 1300px;
    left:820px;
    width: 340px;
    height: 270px;
}
.vinasun-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 18px;
    padding-right: 20px;
}
.vinasun-bottom a
{
    text-decoration: none;
}
.vinasun-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.vinasun-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.vinasun p 
{
    color: gray;
}

.lark-email-top:hover
{ transition: 1s;
    margin-top: 10px;}
.lark-email-top
{
   
    position: absolute;
    top: 1600px;
    left: 60px;
    
}

.lark-email-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 1820px;
    left:60px;
    width:340px;
    height: 270px;
}
.lark-email-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
}
.lark-email-bottom a
{
    text-decoration: none;
}
.lark-email-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.lark-email-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.lark-email p 
{
    color: gray;
}
.cn40-top:hover
{ transition: 1s;
    margin-top: 10px;}
.cn40-top 
{
   
    position: absolute;
    top: 1600px;
    left: 420px;
    margin-left: 20px;
}
.cn40-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 1820px;
    left:440px;
    width: 340px;
    height: 270px;
}
.cn40-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 19px;
    padding-right: 20px;
}
.cn40-bottom a
{
    text-decoration: none;
}
.cn40-bottom p
{
    padding-right: 20px;
    padding-left: 19px;
}
.cn40-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.cn40 p
{
    color: gray;
}

.ss-top:hover
{ transition: 1s;
    margin-top: 10px;}
.ss-top 
{
   
    position: absolute;
    top: 1600px;
    left: 800px;
    margin-left: 20px;
}
.ss-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 1820px;
    left:820px;
    width: 340px;
    height: 270px;
}
.ss-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 19px;
    padding-right: 20px;
}
.ss-bottom a
{
    text-decoration: none;
}
.ss-bottom p
{
    padding-right: 20px;
    padding-left: 19px;
}
.ss-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.ss p
{
    color: gray;
}
.bia-top:hover
{ transition: 1s;
    margin-top: 10px;}
.bia-top
{
   
    position: absolute;
    top: 2120px;
    left: 60px;
    
}

.bia-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 2340px;
    left:60px;
    width:340px;
    height: 270px;
}
.bia-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
}
.bia-bottom a
{
    text-decoration: none;
}
.bia-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.bia-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.bia p 
{
    color: gray;
}
.viettel-top:hover
{ transition: 1s;
    margin-top: 10px;}
.viettel-top
{
   
    position: absolute;
    top: 2120px;
    left: 440px;
    
}

.viettel-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 2340px;
    left:440px;
    width:340px;
    height: 270px;
}
.viettel-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 19px;
    padding-right: 20px;
}
.viettel-bottom a
{
    text-decoration: none;
}
.viettel-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.viettel-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.viettel p 
{
    color: gray;
}
.covid-top:hover
{ transition: 1s;
    margin-top: 10px;}
.covid-top
{
   
    position: absolute;
    top: 2120px;
    left: 820px;
    
}

.covid-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 2340px;
    left:820px;
    width:340px;
    height: 270px;
}
.covid-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 18px;
    padding-right: 20px;
}
.covid-bottom a
{
    text-decoration: none;
}
.covid-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
   padding-top: -20px;
    
}
.covid-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.covid p 
{
    color: gray;
}
.thitruong-top:hover
{ transition: 1s;
    margin-top: 10px;}
.thitruong-top
{
   
    position: absolute;
    top: 2640px;
    left: 60px;
    
}

.thitruong-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 2860px;
    left:60px;
    width:340px;
    height: 270px;
}
.thitruong-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
}
.thitruong-bottom a
{
    text-decoration: none;
}
.thitruong-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.thitruong-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.thitruong p 
{
    color: gray;
}
.ssgalaxy-top:hover
{ transition: 1s;
    margin-top: 10px;}
.ssgalaxy-top
{
   
    position: absolute;
    top: 2640px;
    left:440px;
    
}

.ssgalaxy-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 2860px;
    left:440px;
    width:340px;
    height: 270px;
}
.ssgalaxy-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
}
.ssgalaxy-bottom a
{
    text-decoration: none;
}
.ssgalaxy-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.ssgalaxy-bottom h4:hover
{
    transition: 1s;
    padding-top: 5px;
    color:springgreen;
}
.ssgalaxy p 
{
    color: gray;
}
.cmc-top:hover
{ transition: 1s;
    margin-top: 10px;}
.cmc-top
{
   
    position: absolute;
    top: 2640px;
    left:820px;
    
}

.cmc-bottom
{
    
    position: absolute;
    background-color: #fff;
    top: 2860px;
    left:820px;
    width:340px;
    height: 270px;
}
.cmc-bottom h4
{
    color: black;
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
}
.cmc-bottom a
{
    text-decoration: none;
}
.cmc-bottom p
{
    padding-right: 20px;
    padding-left: 20px;
}
.cmc-bottom h4:hover
{
    transition: 1s;
    padding-top: 10px;
    color:springgreen;
}
.cmc p 
{
    color: gray;
}
.choice-number
{
    position: absolute;
    top: 3200px;
    height: 500px;
    line-height: 10 0px;
    width: 100%;
    background-color: white;
    text-align: center;
}
.footer table 
{
    position: absolute;
    top: 50px;
    left:500px;
}
.footer td
{
   
    width: 50px;
    height: 30px;
  
}
.footer tr
{
    opacity:2;
}
.footer a
{
    display: block;
    color: black;
    text-decoration: none;
}
.footer td:hover
{
    transition: 1s;
    background-color: slategrey;
}
.footer a:hover
{
    color: #fff;
}
.footer .a1
{
    background-color: grey;
}
.tgs
{
    border-top:1px solid grey;
}
.tgs img
{
    
    position: absolute;
    top: 3400px;
    left:0px;
    padding-left:100px;
    
   
}
.choice-number
{
   
}
.tgs p
{
    position: absolute;
    top:3400px;
    padding-right: 20px;
    text-align: justify;
    padding-left: 20px;
    left:300px;
    font-size: 15px;
    color: grey;
    
}
.tgs strong
{
    position: absolute;
    top: 3400px;
    padding-right: 20px;
    text-align: justify;
    padding-left: 20px;
    font-size: 15px;
    left:300px;
  
}
.tgs span p
{
    position: absolute;
    top: 3400px;
    padding-right: 20px;
    text-align: justify;
    padding-left: 20px;
    left:450px;
    font-size: 15px;
    color: grey;
    
}
.tgs span strong
{
    position: absolute;
    top: 3400px;
    padding-right: 20px;
    text-align: justify;
    padding-left: 20px;
    font-size: 15px;
    left:450px
}
.tgs .nl p
{
    position: absolute;
    top: 3400px;
    font-size: 15px;
    padding-right: 20px;
    text-align: justify;
    padding-left: 20px;
    left:670px;
    font-size: 15px;
    color: grey;
    
}
.tgs .nl strong
{
    
    position: absolute;
    top: 3400px;
    font-size: 15px;
    padding-right: 20px;
    text-align: justify;
    padding-left: 20px;
    left:670px
}

.tgs .tbt p
{
    position: absolute;
    top: 3400px;
    font-size: 15px;
    padding-right: 20px;
    text-align: justify;
    padding-left: 20px;
    left:870px;
    font-size: 15px;
    color: grey;
}
.tgs .tbt strong
{
    position: absolute;
    top:340t0px;
    font-size: 15px;
    padding-right: 20px;
    text-align: justify;
    padding-left: 20px;
    left:870px;
    border-right:0.2px solid grey;
   height: 270px;
}
.tgs
{}
.tgs>hr
{
    position: absolute;
    margin-top: 3300px;
    color: red;
   
}
.tgs .hotline 
{
    position: absolute;
    top: 3470px;
    left: 470px;
}
.hotline span
{
    color: darkgreen;
}
.hotline span:hover
{
    transition: 1s;
    color: darkseagreen;
  
    height: 100%;
}
.banner img
{
    position: absolute;
    top: 3570px;
    left: 100px;
}
.chudscn
{
    position: absolute;
    top: 3570px;
    padding-left: 350px;
    padding-right: 350px;
    color: gray;
    left: -30px;
}
.leo img
{
    position: absolute;
    top: 3470px;
    right:70px;
}
.chuleo
{
    position: absolute;
    top: 3500px;
    right:20px;
}
.chuleo a
{
color: green;
}
.chuleo a:hover
{
transition: 1s;
color: springgreen;
border-bottom:1px solid springgreen;
width: 130px;
}
.bottom-left-1 .user
{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
}
.bottom-left-1 i
{
    font-size: 25px;
}
.bottom-left-1 .time{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 130px;
    font-size: 15px;
}
.user a
{
    text-decoration: none;
    color: white;
}
.user a:hover
{
    transition: 1s;
    color: springgreen;
    border-bottom:1px solid springgreen;
}
.user-ct
{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
}
.time-ct
{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 130px;
    font-size: 15px;
}
.bottom-center i
{
    font-size: 25px;
}
.user-ct a{
    text-decoration: none;
    color: white;
}
.user-ct a:hover
{
    transition: 1s;
    color: springgreen;
    border-bottom:1px solid springgreen;
}
.user-right
{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
}
.user-right a
{
color: white;
}
.time-right
{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 130px;
    font-size: 15px;
}
.right i
{
    font-size: 25px;
}
.right-ct a{
    text-decoration: none;
    color: white;
}
.right a:hover
{
    transition: 1s;
    color: springgreen;
    border-bottom:1px solid springgreen;
}
.user-ss
{
    color: grey;
    position: absolute;
    bottom: 145px;
    left: 30px;
}
.time-ss
{
    color: grey;
    position: absolute;
    bottom: 145px;
    left: 135px;
}
.user-ss i
{
    font-size: 25px;
}
.time-ss i
{
    font-size: 25px;
}
.user-ss a
{
    color: grey;
}
.user-ss a:hover
{
    transition: 1s;
    color: springgreen;
    border-bottom:1px solid springgreen;s
}

.user-cnt
{
    color: grey;
    position: absolute;
    top: 225px;
    left: 25px;
}
.time-cnt
{
    color: grey;
    position: absolute;
    top: 225px;
    left: 135px;
}
.user-cnt i
{
    font-size: 25px;
}
.time-cnt i
{
    font-size: 25px;
}
.user-cnt a
{
    color: grey;
}
.user-cnt a:hover
{
    transition: 1s;
    color: springgreen;
    border-bottom:1px solid springgreen;s
}

